/.nyc_output
/coverage
/dist
/node_modules
/assets
!/.vscode
!/.github
/tests/fixtures/integrations/eslint-plugin
/tests/fixtures/integrations/eslint-plugin-legacy-config
!/docs/.vitepress
/docs/.vitepress/dist
/docs/.vitepress/cache
