name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Install Packages
        run: npm i -f
      - name: Build
        run: npm run build
      - name: Lint
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Packages
        run: npm i -f
      - name: Build
        run: npm run build
      - name: Test
        run: npm test
  test-with-node16:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 16.x
      - name: Install Target Packages
        run: |+
          npm i -D eslint@^8 -f
          npx rimraf node_modules
          npm install -f
      - name: Build
        run: npm run build
      - name: Test
        run: npm test
  test-with-node14:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 14.x
      - name: Install Target Packages
        run: |+
          npm i -D eslint@^8 -f
          npx rimraf node_modules
          npm install -f
      - name: Build
        run: npm run build
      - name: Test
        run: npm test
  test-with-eslint9:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Install Target Packages
        run: |+
          npm i -D eslint@^9.0.0-0 -f
          npx rimraf node_modules
          npm install -f
      - name: Build
        run: npm run build
      - name: Test
        run: npm test
  test-with-eslint6:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 14.x
      - name: Install Target Packages
        run: |+
          npm i -D eslint@6
          npx rimraf node_modules
          npm install
      - name: Build
        run: npm run build
      - name: Test
        run: npm test
  test-and-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Install Packages
        run: npm i -f
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test:nyc
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Install Packages
        run: npm i -f
      - name: Build
        run: npm run build
      - name: Update
        run: npm run update
      - name: Check changes
        run: |
          git add --all && \
          git diff-index --cached HEAD --stat --exit-code
